<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zhyea.argo.mapper.AppPageMapper">


    <!-- 根据应用ID和关键字查询页面信息 -->
    <select id="query"
            resultType="com.zhyea.argo.model.entity.AppPageEntity">
        select * from ag_cms_app_page where app_id=#{appId} and deleted=0
        <if test="null != keyword and keyword != ''">
            and (
            page_code = #{keyword}
            or page_name like concat('%', #{keyword}, '%')
            or remark like concat('%', #{keyword}, '%')
            )
        </if>
    </select>

</mapper>