<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhyea.argo.data.mapper.cms.FciPropMapper">


    <resultMap id="QueryResultMap" type="com.zhyea.argo.data.entity.cms.FciPropEntity">
        <result column="effective_start_time" jdbcType="TIMESTAMP" property="effectiveStartTime"
                typeHandler="com.zhyea.argo.data.type.NullTimeHandler"/>
        <result column="effective_end_time" jdbcType="TIMESTAMP" property="effectiveEndTime"
                typeHandler="com.zhyea.argo.data.type.NullTimeHandler"/>
    </resultMap>


    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into ag_cms_fci_prop (fci_id, prop_key, prop_value, data_bind_flag, data_url, prop_value_selector,
        effective_period_type, effective_start_time, effective_end_time, remark)
        values
        (#{e.fciId}, #{e.propKey}, #{e.propValue}, #{e.dataBindFlag}, #{e.dataUrl}, #{e.propValueSelector},
        #{e.effectivePeriodType},
        #{e.effectiveStartTime, typeHandler=com.zhyea.argo.data.type.NullTimeHandler},
        #{e.effectiveEndTime, typeHandler=com.zhyea.argo.data.type.NullTimeHandler},
        #{e.remark})
    </insert>


    <update id="edit">
        update ag_cms_fci_prop set
        fci_id=#{e.fciId}, prop_key=#{e.propKey}, prop_value=#{e.propValue},
        data_bind_flag=#{e.dataBindFlag}, data_url=#{e.dataUrl}, prop_value_selector=#{e.propValueSelector},
        effective_period_type=#{e.effectivePeriodType},
        effective_start_time=#{e.effectiveStartTime, typeHandler=com.zhyea.argo.data.type.NullTimeHandler},
        effective_end_time=#{e.effectiveEndTime, typeHandler=com.zhyea.argo.data.type.NullTimeHandler},
        remark=#{e.remark}
        where id=#{e.id}
    </update>


    <!-- getById -->
    <select id="getById" resultMap="QueryResultMap">
        select * from ag_cms_fci_prop where id=#{id}
    </select>


    <!-- 根据组件ID获取当前有效的组件属性集合 -->
    <select id="findValidByFciId" resultMap="QueryResultMap">
        select * from (

        select * from ag_cms_fci_prop
        where deleted=0 and fci_id=#{fciId} and switch_flag=1 and effective_period_type=1

        union all

        select * from ag_cms_fci_prop
        where deleted=0 and fci_id=#{fciId} and switch_flag=1 and effective_period_type=2
        and (effective_start_time &lt; now() and effective_end_time &gt;= now())

        )tmp order by create_time desc
    </select>


    <!-- 根据组件ID获取当前某个属性 -->
    <select id="findByPropKey" resultMap="QueryResultMap">
        select * from ag_cms_fci_prop where deleted=0 and fci_id=#{fciId} and prop_key=#{propKey}
    </select>


    <select id="findInPage" resultMap="QueryResultMap">
        select * from ag_cms_fci_prop where fci_id=#{fciId} and deleted=0
        <if test="null != keyword and keyword != ''">
            and (remark like concat('%', #{keyword}, '%') or prop_key like concat('%', #{keyword}, '%') or prop_value
            like concat('%', #{keyword}, '%'))
        </if>
    </select>


    <update id="switchProp">
        update ag_cms_fci_prop set switch_flag=#{switchFlag} where id=#{id}
    </update>

</mapper>