<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zhyea.argo.data.mapper.cms.FciRequestMapper">


    <!-- 根据应用ID和关键字查询页面信息 -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into ag_cms_fci_request (bind_id, bind_type,
        data_url, data_request_method, data_request_params, data_request_headers)
        values
        (#{e.bindId}, #{e.bindType},
        #{e.dataUrl}, #{e.dataRequestMethod}, #{e.dataRequestParams}, #{e.dataRequestHeaders})
    </insert>


    <!-- 调整请求信息 -->
    <update id="modify">
        update ag_cms_fci_request set
        data_url= #{e.dataUrl},
        data_request_method= #{e.dataRequestMethod},
        data_request_params= #{e.dataRequestParams},
        data_request_headers= #{e.dataRequestHeaders}
        where bind_type=#{bindType} and bind_id=#{bindId}
    </update>


    <!-- 根据绑定类型和所属ID查询请求信息 -->
    <select id="getByBindId" resultType="com.zhyea.argo.data.entity.cms.FciRequestEntity">
        select * from ag_cms_fci_request
        where bind_type=#{bindType} and bind_id=#{bindId}
    </select>


    <!-- 根据绑定类型和所属ID删除请求信息 -->
    <delete id="deleteByBindId">
        delete from ag_cms_fci_request
        where bind_type=#{bindType} and bind_id=#{bindId}
    </delete>

</mapper>