<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zhyea.argo.mapper.FcmMapper">


    <!-- 根据应用ID和关键字查询组件模板信息 -->
    <select id="query"
            resultType="com.zhyea.argo.model.entity.FcmEntity">
        select * from ag_cms_fcm where deleted=0
        <if test="null != appId">
            and app_id=#{appId}
        </if>

        <if test="null != keyword and keyword != ''">
            and (
            name like concat('%', #{keyword}, '%')
            or remark like concat('%', #{keyword}, '%')
            )
        </if>
    </select>

</mapper>