<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhyea.argo.data.mapper.cms.PageFciMapper">


    <!-- 批量创建页面和组件实例的关联 -->
    <insert id="batchAdd" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into ag_cms_page_fci(page_id, fci_id)
        values
        <foreach collection="fciIdList" item="e" separator=",">
            (#{pageId},
            #{e},)
        </foreach>
    </insert>


</mapper>